
<div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let dog of dogs">
        <div class="dog-card">
          <img [src]="dog.image" alt="{{ dog.name }}" class="dog-image" />
          <h2 class="dog-name">{{ dog.name }}</h2>
          <div class="dog-actions">

            <button class="like-button" (click)="onLike(dog.name)">
              <span class="material-icons">
                thumb_up
                </span> 
            </button>
  
            <button class="share-button" (click)="onShare(dog.name)">
              <span class="material-icons">
                send
                </span> 
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>